@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400;0,800;1,600&display=swap');

#contactContainer{
    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        nav {
            width: 30%;
            margin-bottom: 5px;
            ul {
                width: 100%;
                display: flex;
                justify-content: space-around;
                
                li {
                    list-style: none;
                    font-family: 'Ephesis', cursive;
                    font-size: 30px;
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }
    #container_contact{
        font-family: 'Andada Pro', serif;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 75vh;
        #contact_us {
            width: 30%;
            height: 60vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            p {
                text-align: center;
                width: 90%;
                align-self: center;
            }
            form {
                display: grid;
                grid-template-columns: repeat(2,1fr);
                margin-top: 10px;
                input {
                    border: 1px solid black;
                    border-radius: 5px;
                    height: 25px;
                }
                button{
                    margin-top: 4px;
                    background-color: white;
                    border: 1px solid black;
                    font-size: 16px;
                    border-radius: 2px;
                    width: 14.5625rem;
                }
               
            }
            h2 {
                align-self: center;
                margin-bottom: 5px;
                text-decoration: underline;
            }
            .data {
                height: 60px;
                display: flex;
                flex-direction: column;
                text-align: center;
                width: 80%;
            }
            .consulta {
                display: flex;
            }
            #social_media {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 80%;
                justify-content: center;
                p {

                    margin-bottom: 10px;
                    width: 80%;
                }
                svg {
                    transition: 0.3s ease ;
                    margin-left: 6px;
                }
                svg:hover {
                    transform: scale(1.1);
                }
            }
        }
        
    }
    #google_map{
        width: 40%;
        height: 65vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h2 {
            text-decoration: underline;
        }
    }
}
